.main-index {
  width: 764px;
  margin-top: 26px;
  margin-right: auto;
  margin-left: auto;
}

.main-index__logo {
  width: 360px;
  height: 219px;
  margin-right: auto;
  margin-bottom: 47px;
  margin-left: auto;

  img {
    width: 100%;
    height: auto;
  }
}
